.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.book-card {
  background-color: gray;
  width: 160px;
}

.add-book-dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .add-book-dialog input {
  width: 100%;
} */
.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
