* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  background-color: white;
  padding: 20px;
}
body {
  background-color: #f0f0f0;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.book-card {
  background-color: white;
  padding: 20px;
  width: 260px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: solid 1px black;
  gap: 20px;
}
.title {
  font-size: 1.3rem;
  font-weight: 600;
}
.author {
  font-size: 1rem;
  font-weight: 300;
}
.pages {
  font-weight: 100;
}
.read-status {
  cursor: pointer;
  border-radius: 7px;
  border: solid 1px black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.read {
  background-color: rgb(158, 251, 170);
}
.notRead {
  background-color: lightcoral;
}
.remove {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
.add-book-container {
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
}
.add-book-dialog {
  margin: auto;
  height: 330px;
  width: 250px;
  border-radius: 7px;
  border: solid 1px black;
}
.add-book-dialog form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-book-button {
  width: 160px;
  height: 30px;
}
.dialog-btn-add-book {
  background-color: rgb(158, 251, 170);
}
input {
  height: 30px;
  border-radius: 7px;
  border: solid 1px black;
  padding: 5px;
  text-align: left;
}
button {
  height: 30px;
  border-radius: 7px;
  border: solid 1px black;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
